{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
  <link href="/static/src/styles.css" rel="stylesheet">

  <form action="/" method="post">
      <div class="form-group">
        <input type="date" class="form-control" name="date">
      </div>
      <div class="form-group">
        <textarea class="form-control" name="event" rows="5" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Make event</button>
      </div>
  </form>


	<div id="app"></div>
  <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  <script src="https://unpkg.com/dayjs@1.8.21/plugin/utc.js"></script>
  <script>dayjs.extend(window.dayjs_plugin_utc)</script>
  <script>let event_list = {{ event_list|safe }};</script>
  <script src="{{url_for('static', filename='src/index.js')}}" type="module"></script>

  <footer class="small text-center text-muted">
      Calendar based on <a href="https://css-tricks.com/how-to-make-a-monthly-calendar-with-real-data/">tutorial </a>by <a href="https://css-tricks.com/author/mateuszrybczonek/">Mateusz Rybczonek</a>.
  </footer>

{% endblock %}
